@use 'src/styles/vars';

.single-post {
  padding: vars.$gutter;
  width:85%;
  margin: 0 auto;
  .post-title{
    font-size: 3em;
    text-align: center;
  }
}
.post-text{
  color: vars.$light-color;
}

.post-paragraph {
  margin-bottom: 2em;
  text-align:justify;
}

.post-banner-container{
  height: 300px;
  width: 500px;
  margin: 80px auto;
}
