@use 'src/styles/vars';

.posts {
  max-width: 800px;
  margin: vars.$gutter auto;
  line-height: 1.3;

  &-title {
    color: vars.$light-color;
    font-family: vars.$title-font;
    font-weight: 300;
    letter-spacing:-5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10em;
    margin-bottom: 0.5em;
    @media (max-width: 769px) {
      font-size: 7em;
    }
    @media (max-width: 515px) {
      font-size: 4em;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }
}
