
// Generic
$primary-color: #e52354;
$alt-color: #ddd;
$dark-color: #000;
$light-color: #fff;
$gutter: 2rem;

// Global
$global-font: 'Lato', sans-serif;
$global-font-weight: 300;

// Title
$title-font-weight:700;
$title-color: #f7f7f7;

// Post
$post-text-color: #f7f7f7;
$title-font: 'Benne', serif;

// Mixin
@mixin moonsign{
  width:60px;
  position: fixed;
  @media (max-width: 430px) {
display:none;
  }
}
