@use 'reset';
@use 'vars';

body {
font-family: sans-serif;
line-height: 1.6;
background-color: vars.$dark-color;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
scroll-behavior: smooth;
-ms-overflow-style: none;  
scrollbar-width: none;
&::-webkit-scrollbar {
  display: none;}
}


h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
}
