@use 'sass:color';
@use 'src/styles/vars';

.menu {
  text-align: center;
  font: '18thCentury', sans-serif;
  padding: vars.$gutter;
  color: #FFF;
  font: 1.7em vars.$title-font;
}

.link-container{
  width: 80px;
  margin: 0 auto;
  & img{
    animation: rotate 5000ms infinite forwards;
  }
}

.sign-container{
  &--right-top{
  @include vars.moonsign;
  top: 15px;
  left: 15px;
  }
  &--left-top{
    @include vars.moonsign;
    top: 15px;
    right: 15px;
    }
    &--right-bottom{
      @include vars.moonsign;
      bottom: 15px;
      left: 15px;
      }
      &--left-bottom{
        @include vars.moonsign;
        bottom: 15px;
        right: 15px;
        }
}



@keyframes rotate{
  0% {
transform: rotate(-10deg)
  }
  10%{
    transform: rotate(20deg)

  }

  20%{
    transform: rotate(-10deg)

  }
30%{
    transform: rotate(10deg)

  }
  40% {
    transform: rotate(0deg)

  }
  100%{
    transform: rotate(0deg)

  }
}