@use 'src/styles/vars';

.post {
  width: 100%;
  padding: vars.$gutter;
  @media (min-width: 909px) {
    width: 50%;
  }
  @media (max-width: 909px) {
    margin: 0 10%;
  }

  &-title {
    font-family: vars.$title-font;
    font-weight: vars.$title-font-weight;
    font-size: 200%;
    color: vars.$title-color;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    transition: text-shadow 700ms ease;
  }
  &-excerpt {
    margin-top: 0.5rem;
    font-weight: 300;
    color: vars.$post-text-color;
    text-align: justify;
  }
  &:hover .post-title {
    animation: glitch 400ms infinite forwards;

  }
}

.post-cover{
  height: 110px;
  width: 100%;
}

@keyframes glitch{
  0% {
    text-shadow: -0.07em 0 red, 0.07em 0 cyan;

  }
  30%{
    text-shadow: -0.11em 0 red, 0.11em 0 cyan;

  }

  60%{
    text-shadow: -0.08em 0 red, 0.08em 0 cyan;

  }
  80%{
    text-shadow: -0.11em 0 red, 0.11em 0 cyan;

  }
  100% {
    text-shadow: -0.07em 0 red, 0.07em 0 cyan;

  }
}


